@page "/servers"
@attribute [StreamRendering]

@rendermode InteractiveServer

@* @inject NavigationManager NavigationManager *@
<h3>Server page</h3>
<br />

<CityListComponent SelectedCity="@_selectedCity" OnCityChanged="FilterByCity"/>

<SearchBarComponent OnFilterChanged="SearchServer"/>

<ServerListComponent ServerFilter="@_serverFilter" SelectedCity="@_selectedCity"/>

<a href="/servers/add" class="text-white btn btn-info">Add Server</a>

@code {
    private string _selectedCity = string.Empty;
    private string _serverFilter = string.Empty;

    private void FilterByCity(string city) 
    {
        _selectedCity = city;
    }

    private void SearchServer(string filter)
    {
        // servers = ServersRepository.FindByName(serverFilter);
        _serverFilter = filter;
        _selectedCity = string.Empty;
    }
}
