@page "/todo"

@rendermode InteractiveServer

<h3>TodoList</h3>

<button class="btn btn-primary my-3 py-1" @onclick="NewTask">New</button>

<TodoListComponent Tasks="_tasks"/>

@code {
    // do I need this here?
    private List<TodoItem> _tasks = TodoItemRepository.FindAll();

    private void NewTask() 
    {
        TodoItemRepository.AddNew();
        _tasks = TodoItemRepository.FindAll();
    }

    private void RemoveTask(TodoItem task)
    {
        TodoItemRepository.Remove(task);
        _tasks = TodoItemRepository.FindAll();
    }
}
