<div class="input-group w-50 my-4">
    <input type="text" class="form-control" placeholder="Search by name..." id="" 
        @bind-value="ServerFilter" 
        @bind-value:event="oninput"
        @bind-value:after="() => SearchServer()" 
        />
    @* <button class="btn btn-outline-secondary" id="btn-search">Search</button> *@
</div>

@code {
    [Parameter]
    public string ServerFilter { get; set; } = string.Empty;

    [Parameter]
    public EventCallback<string> OnFilterChanged { get; set; }

    private async Task SearchServer()
    {
        await OnFilterChanged.InvokeAsync(ServerFilter);
    }
}
