@* <ul class="list">
    <Virtualize Items="servers" Context="server">
        <ServerComponent Server="server" OnServerDeleted="RefreshServerList"/>
    </Virtualize>
</ul> *@
@inject IServerEFCoreRepository ServerRepository

<table class="table table-striped">

    <RepeaterComponent Items="servers">
        <Header>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>City</th>
                    <th>Status</th>
                    <th>...</th>
                </tr>
            </thead>
        </Header>
        <Row Context="server">
            <ServerComponent Server="server" OnServerDeleted="RefreshServerList"/>
        </Row>
    </RepeaterComponent>
</table>

@code {
    private List<Server> servers = new();

    [Parameter]
    public string? SelectedCity { get; set; }

    [Parameter]
    public string? ServerFilter { get; set; }

    protected override void OnParametersSet()
    {
        RefreshServerList();
    }

    private void RefreshServerList() 
    {
        // it could be ternary (it was) but it's more readable

        if (!string.IsNullOrEmpty(ServerFilter))
        {
            servers = ServerRepository.FindByName(ServerFilter);
            return;
        }

        if (!string.IsNullOrEmpty(SelectedCity))
        {
            servers = ServerRepository.FindByCity(SelectedCity);
            return;
        }

        servers = ServerRepository.FindAll();
    }

    private void DeleteServer(int serverId)
    {
        ServerRepository.Delete(serverId);
        RefreshServerList();
    }
}