@if (Task is not null)
{
<div @key="Task.Id" class="row g-0 mb-3">
    <div class="col-12 col-md-8">
        <div class="input-group">
            <div class="input-group-text">
                <input type="checkbox" 
                    @bind-value="Task.IsDone"
                    checked="@Task.IsDone"
                    style="transform: scale(1.5)" 
                />
            </div>
            <input type="text" 
                class="form-control @(Task.IsDone ? "text-decoration-line-through bg-light" : "")" 
                disabled="@(Task.IsDone)" 
                @bind-value="Task.name" 
            />
        </div>
    </div>
    @if (Task.IsDone)
    {
        <div class="col-12 col-md-4">
            <span class="d-inline-block py-1 mt-1 mt-md-0 ms-3 text-muted">completed @Task.DateCompleted</span>
            <button class="btn btn-outline-danger py-0 px-1 ms-2" @onclick="() => RemoveTask(Task)" >❌</button>
        </div>
    }
  </div>
}

@code {

    [Parameter]
    public TodoItem? Task { get; set; }

    [Parameter]
    public EventCallback OnTaskDeleted { get; set; }

    private async Task RemoveTask(TodoItem task)
    {
        TodoItemRepository.Remove(task);
        await OnTaskDeleted.InvokeAsync();
    }
}
