
@if (Tasks.Count > 0)
{
<div class="container ms-0 px-0">
    <Virtualize Items="Tasks" Context="task">
        <TodoItemComponent Task="@task" OnTaskDeleted="RefreshTodoList"/>
    </Virtualize>
</div>
}
else
{
<span>There is nothing here...</span>
}


@code {
    [Parameter]
    public List<TodoItem> Tasks { get; set; } = TodoItemRepository.FindAll();

    public override Task SetParametersAsync(ParameterView parameters)
    {
        return base.SetParametersAsync(parameters);
    }

    private void RemoveTask(TodoItem task)
    {
        TodoItemRepository.Remove(task);
    }

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        return base.OnAfterRenderAsync(firstRender);
    }

    // protected override void OnAfterRender(bool firstRender)
    // {
    //     // this is useleess af
    //     Tasks = TodoItemRepository.FindAll();
    //     StateHasChanged();
    // }

    private void RefreshTodoList() 
    {
        StateHasChanged();
        Tasks = TodoItemRepository.FindAll();
    }
}
