@typeparam TItem

@Header
@if (Items is not null && Items.Count > 0 && Row is not null)
{
    <Virtualize Items="Items" Context="item">
        @Row(item)
    </Virtualize>
}
else
{
    <span class="text-muted">There is nothing here...</span>
}
@Footer

@code {
    [Parameter]
    public List<TItem>? Items { get; set; }
    
    [Parameter]
    public RenderFragment<TItem>? Row { get; set; }

    [Parameter]
    public RenderFragment? Header { get; set; }

    [Parameter]
    public RenderFragment? Footer { get; set; }
}
